<%- include('../../partials/header.ejs') %>


<%- include('../../partials/navbar.ejs') %>
<br>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de categoria</h2>
        </div> <!--card-title-->
        <div class="card-body">
            <form method = "POST" action="/categories/update">
                <input class = "form-control" type="text" name="title" value = "<%= category.title %>" placeholder = "Set the Category title">
                <input type="hidden" name="id" value = "<%= category.id %>">
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div> <!--card-body-->
        
    </div> <!--card-->
    
</div> <!--container-->



<%- include('../../partials/footer.ejs') %>